body{
    display: flex;
    flex-direction: column;
}
h1{
    margin-left: 1em;
}
div{
    display: flex;
    flex-direction: row;

}

img{
    width: 350px;
    height: 200px;
    margin-left: 2em;

}

p{
    text-align: justify;
}

span{
    margin: 0 5em 0 5em;
}